@model IEnumerable<Core.Dto.PMDb.TaskModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Template.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5 class="">Activity Review</h5>
      
    </div>
    <div class="table-responsive text-nowrap">
        <table id="datatable" class="table table-striped projects">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Task Name</th>
                            <th>Project</th>
                            <th>Severity</th>
                            <th>Status</th>
                            <th>Review By</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var i in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => i.TypeName)</td>
                                    <td>@Html.DisplayFor(model => i.TaskName)</td>
                                    <td>@Html.DisplayFor(model => i.ProjectName)</td>
                                    <td>@Html.DisplayFor(model => i.Severity)</td>
                                    <td><button type="button" class="btn btn-success btn-xs">@Html.DisplayFor(model => i.StatusName)</button></td>
                                    <td>@Html.DisplayFor(model => i.ReviewBy)</td>
                                     <td>
                                        <a href="/ActivityReview/Edit/@i.Id" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                       
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
    </div>
</div>




@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable();
        });
    </script>
}