@model Core.Dto.PMDb.Project

@{
    ViewBag.Title = "Details Projects";
    Layout = "~/Views/Shared/Template.cshtml";
}

@*<h2>Create</h2>*@

@using (Html.BeginForm("Details", "Projects", FormMethod.Post, new { Class = "", Id = "formAddRoles" }))
{
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">@ViewBag.Title</h4>

    <div class="row">
        <div class="col-xxl">
            <div class="card mb-4">

                <div class="card-body">
                    <form>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name"> Project Name</label>
                            <div class="col-sm-10">
                              
                                @Html.HiddenFor(model=>model.Id)
                                @Html.TextBoxFor(model=>model.Projectsname,new {Class = "form-control",PlaceHolder = "" ,disabled=true })
                            </div>

                        </div>
                 

                         <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name"> Project Group</label>
                            <div class="col-sm-10">
                               @Html.DropDownListFor(model => model.Projectgroupid, ViewBag.ProjectGroup as IEnumerable<SelectListItem>, "", new { Class = "form-select  col-md-7 col-xs-12" ,disabled=true })

                            </div>

                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-email"> Description</label>
                            <div class="col-sm-10">

                                <div class="col-sm-12">
                                    @Html.TextAreaFor(model=>model.Description,new {Class = "form-control",PlaceHolder = "" ,disabled=true })
                                </div>



                            </div>
                        </div>

                      
                           <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-email"> Is Public </label>
                            <div class="col-sm-10">

                                <div class="col-sm-12">

                                    @{
                                        if(Model.Ispublic == true)
                                        {
                                              <input type="checkbox" class="flat" name="IsPublic" checked disabled  />
                                        }
                                        else
                                        {
                                              <input type="checkbox" class="flat" name="IsPublic" disabled  />
                                        }
                                    }

                                
                                </div>



                            </div>
                        </div>
                    
                         <div class="demo-inline-spacing">
                                                     
                            <button type="button" class="btn btn-warning" onclick="history.back()">
                              Cancel
                            </button>
                          </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
}