@model Core.Dto.PMDb.Employee

@{
    ViewBag.Title = "Edit Employee";
    Layout = "~/Views/Shared/Template.cshtml";
}

@*<h2>Create</h2>*@

@using (Html.BeginForm("Edit", "Employee", FormMethod.Post, new { Class = "", Id = "formAddRoles" }))
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Edit Employee</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>


                    </ul>


                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="form-horizontal form-label-left input_mask">

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            First Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.Firstname, new { Class = "form-control col-md-7 col-xs-12",required ="true" })
                           
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Last Name
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.Lastname, new { Class = "form-control col-md-7 col-xs-12" })
                            
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Email
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.Email, new { Class = "form-control col-md-7 col-xs-12" })
                            
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Department <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(model => model.Departmentid, ViewBag.Department as IEnumerable<SelectListItem>, "", new { Class = "form-control  col-md-7 col-xs-12", required = "true" })


                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Position
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(model => model.Positionid, ViewBag.Position as IEnumerable<SelectListItem>, "", new { Class = "form-control  col-md-7 col-xs-12", required = "true" })


                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Is Active
                        </label>
                        @if (Model.IsActive == 1)
                        {
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="checkbox" class="flat" name="IsActive" checked />
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="checkbox" class="flat" name="IsActive" />
                            </div>
                        }
                       
                    </div>

                    <div class="item form-group">
                        <div class="control-label col-md-5 col-sm-3 col-xs-12">
                            <input type="submit" class="btn btn-success" value="Submit" />
                         
                            <a href="/Employee/Index/" class="btn btn-warning">Back To List</a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
}