@{
    List<Core.Dto.PMDb.RolesMenuViewModel> menuList = ViewBag.Menu;
    List<Core.Dto.PMDb.RolesMenuViewModel> menuList2 = ViewBag.Menu;
}


<!-- Layouts -->
@{
    foreach (var mp in menuList.Where(p => p.MenuModel.ParentId == 0).OrderBy(p => p.MenuModel.Sequence))
    {

        if (menuList2.Where(p => p.MenuModel.ParentId == mp.MenuModel.Id).Any())
        {
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-layout"></i>
                    <div data-i18n="Layouts">@mp.MenuModel.Menuname</div>
                </a>
                <ul class="menu-sub">
                    @foreach (var cp in menuList2.Where(p => p.MenuModel.ParentId == mp.MenuModel.Id).OrderBy(p => p.MenuModel.Sequence))
                    {
                        <li class="menu-item">
                            <a href="@cp.MenuModel.Link" class="menu-link">
                                <div data-i18n="Without menu">@cp.MenuModel.Menuname</div>
                            </a>
                        </li>
                    }
                </ul>

            </li>
        }

        else
        {
            <li class="menu-item">
                <a href="@mp.MenuModel.Link" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                    <div data-i18n="Form Elements">@mp.MenuModel.Menuname</div>
                </a>
            </li>
        }






    }
}

