@model IEnumerable<Core.Dto.PMDb.TaskModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Template.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5 class="">My Task</h5>
        <a href="@Url.Action("Create","Task")" class="btn btn-primary">Create</a>

          <a href="@Url.Action("PlaningBoard","Task")" class="btn btn-primary">Create</a>
    </div>
    <div class="table-responsive text-nowrap">
         <table id="datatable"  class="table table-striped projects">
                    <thead>
                        <tr>
                            <th>Task Name</th>
                            <th>Project</th>
                            <th>Severity</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var i in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => i.TaskName)</td>
                                    <td>@Html.DisplayFor(model => i.ProjectName)</td>
                                    <td>@Html.DisplayFor(model => i.Severity)</td>
                                    <td><button type="button" class="btn btn-success btn-xs">@Html.DisplayFor(model => i.StatusName)</button></td>
                                    <td>
                                        @if (i.StatusName == "Completed")
                                        {
                                            @*<a href="/Task/Edit/@i.Id" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Edit </a>*@
                                            <a href="/Task/Details/@i.Id" class="btn btn-info btn-xs"><i class="fa fa-folder"></i>View Details </a>
                                        }
                                        else
                                        {
                                            <a href="/Task/Edit/@i.Id" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="/Task/Details/@i.Id" class="btn btn-info btn-xs"><i class="fa fa-folder"></i>View Details </a>
                                            <a href="/Task/Delete/@i.Id" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        }
                                       
                                    </td>
                                </tr>
                            }
                        }
                       
                    </tbody>
                </table>
    </div>
</div>




@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable();
        });
    </script>
}
