@model IEnumerable<Core.Dto.PMDb.TaskModels>
@{
    ViewBag.Title = "PlanningBoard";
    Layout = "~/Views/Shared/Template.cshtml";
}

<style>

    body {
        font-family: helvetica, arial;
        font-size: 12px
    }

    .scrumboard {
        margin: 0 auto;
  
    }

    h1 {
        margin-left: 20px;
        font-size: 2rem;
    }

    .column {
      
        float: left;
   
       padding:5px;
        border-radius: 5px;
        border: 1px solid #73879C;
        height: 100vh;
        overflow-y: scroll;
    }

  

    .portlet {
        margin: 0 1em 1em 0;
        padding: 0.3em;
    }

    .portlet-header {
        padding: 0.2em 0.3em;
        margin-bottom: 0.5em;
        position: relative;
    }

    .portlet-toggle {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -8px;
    }

    .portlet-content {
        padding: 0.4em;
    }

    .portlet-placeholder {
        border: 1px dotted black;
        margin: 0 1em 1em 0;
        height: 50px;
    }

</style>



<div class="row">



    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">


                <div class="card-column">
                    <h2>Planning Board</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>

                </div>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-4">
                    <div class="column flex">
                      
                        <h1>Outstanding</h1>
                        <hr />
                        <br />
                        @{
                            foreach (var item in Model.Where(x => x.StatusName == "Outstanding"))
                     
                           {
                                <div class="portlet">
                                    <div class="portlet-header">@item.TaskName</div>
                                    <div class="portlet-content">@item.Description</div>
                                </div>
                            }
                        }

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="column flex">
                     
                        <h1>In Progress</h1>
                        
                        <hr />
                        <br />
                        
                        @{
                            foreach (var item in Model.Where(x => x.StatusName == "In Progress"))
                          
                           {
                                <div class="portlet">
                                    <div class="portlet-header">@item.TaskName</div>
                                    <div class="portlet-content">@item.Description</div>
                                </div>
                            }
                        }

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="ov"></div>
                    <div class="column flex">
                      
                        <h1>Completed</h1>
                      
                        <hr />
                        <br />
                         
                        @{
                            foreach (var item in Model.Where(x => x.StatusName == "Completed"))
                            {
                                <div class="portlet">
                                    <div class="portlet-header">@item.TaskName</div>
                                    <div class="portlet-content">@item.Description</div>
                                </div>
                            }
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>


</div>





@section scripts {
<script type="text/javascript">

       $(function() {
      $( ".column" ).sortable({
        connectWith: ".column",
        handle: ".portlet-header",
        cancel: ".portlet-toggle",
        placeholder: "portlet-placeholder ui-corner-all"
      });

      $( ".portlet" )
        .addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
        .find( ".portlet-header" )
          .addClass( "ui-widget-header ui-corner-all" )


      $( ".portlet-toggle" ).click(function() {
        var icon = $( this );
        icon.toggleClass( "ui-icon-minusthick ui-icon-plusthick" );
        icon.closest( ".portlet" ).find( ".portlet-content" ).toggle();
      });
    });

</script>

        }